<div class="ourDialog">

   <form [formGroup]="eventDetailsForm" class="my-form" *ngIf="eventDetailsForm">
      <h1 mat-dialog-title>New event</h1>
      <mat-form-field appearance="fill">
         <p> your event name</p>
         <input type="text" matInput>
      </mat-form-field>

      <mat-form-field for appearance="fill">
         <mat-label>Choose a date</mat-label>
         <input formControlName="eventDate" matInput [matDatepicker]="picker">
         <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
         <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br>

      <mat-label>
         <mat-icon>image</mat-icon>upload your invitation
      </mat-label>
      <input type="file" formControlName="invitationImage">
      <br>
      <div mat-dialog-content>
         <p>Is your event separated?</p>
         <mat-radio-group aria-label="Select an option" formControlName="separatedSeats">
            <mat-radio-button [value]="true" name="seats" (click)="separated()">yes
            </mat-radio-button>
            <mat-radio-button [value]="false" name="seats" (click)="notSeparated()">no
            </mat-radio-button>
         </mat-radio-group>
         <!-- <mat-card> -->
         <div *ngIf="_separated" class="ourDiv">
            <p>How many tables?</p>
            <mat-form-field appearance="fill">
               <mat-label> male</mat-label>
               <input type="number" formControlName="numTablesMale" matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
               <mat-label> female</mat-label>
               <input type="number" formControlName="numTablesFemale" matInput>
            </mat-form-field>
            <p>How many chairs per table?</p>
            <mat-form-field appearance="fill">
               <mat-label> male</mat-label>
               <input type="number" formControlName="numChairsMale" matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
               <mat-label> female</mat-label>
               <input type="number" formControlName="numChairsFemale" matInput>
            </mat-form-field>

            <br>
            <mat-checkbox (click)="wantSpecial()">You can create one special table for
               each
               section. Do you want?
            </mat-checkbox>
            <div *ngIf="_special" class="ourDiv">
               <p>How many chairs per special table?</p>
               <mat-form-field appearance="fill">
                  <mat-label> male</mat-label>
                  <input type="number" formControlName="numSpecialTableChairsMale" matInput>
               </mat-form-field>
               <mat-form-field appearance="fill">
                  <mat-label> female</mat-label>
                  <input type="number" formControlName="numSpecialTableChairsFemale" matInput>
               </mat-form-field>
            </div>

         </div>




         <div *ngIf="_notSeparate">
            <mat-form-field appearance="fill">
               <mat-label> How many tables?</mat-label>
               <input type="number" formControlName="numTablesMale" matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
               <mat-label> How many chairs per table?</mat-label>
               <input type="number" formControlName="numChairsMale" matInput>
            </mat-form-field>


            <br>
            <mat-checkbox (click)="wantSpecial()">You can create one special table
               . Do you want?
            </mat-checkbox>
            <div *ngIf="_special">
               <mat-form-field appearance="fill">
                  <mat-label> How many chairs in special table?</mat-label>
                  <input type="number" formControlName="numSpecialTableChairsMale" matInput>
               </mat-form-field>
            </div>
         </div>
         <!-- </mat-card> -->



         <button (click)="selectCategory()" mat-raised-button color="primary">
            <mat-icon>add</mat-icon>Choose categories
         </button>


         <section class="example-section" [formGroup]="categoryGroup">
            <div *ngFor="let c of _generalCategory">
               <p>
                  <mat-checkbox formControlName="name">{{c.name}}</mat-checkbox>
               </p>
            </div>
            <div *ngIf="_personalCat">
               <mat-form-field appearance="fill">

                  <mat-label> Add personal category</mat-label>
                  <input #addedCat matInput>

               </mat-form-field>
               <button (click)="addPersonalCategory(addedCat.value)" mat-raised-button color="primary">
                  <!-- <button mat-raised-button (click)="openDialog()">Pick one</button> -->
                  <mat-icon>add</mat-icon>Add
               </button>

            </div>



         </section>
         <button (click)="saveNewEvent()" [disabled]="eventDetailsForm.invalid" mat-raised-button
            color="primary">save</button>
      </div>
   </form>
</div>