// .example-section {
//     margin: 12px 0;
//   }
  .ourDialog{
    height: 100%;
    width: 100%;
    text-align: center;
  }
  .inputNumber{
    width: 10%;
    
  }
 .ourDiv
 {
  
 }
 HTML

.mat-stepper-horizontal {
  margin-top: 15%;
}

.mat-form-field {
  margin-top: 6%;
}