<div class="btn-add-event">

   <button (click)="newEvent()" mat-raised-button style="color:white; background-color:black" >

      <mat-icon>add</mat-icon>Add event
   </button>
</div>

<mat-accordion *ngFor="let e of _eventList" class="tbl" style="width:70%">
   <mat-expansion-panel hideToggle class="tbl">
      <mat-expansion-panel-header>
         
            <table>
               <tr>
                  <td class="a1">
                     <mat-panel-title>
                      <u><b>{{e.name}} </b> </u>
                     </mat-panel-title>
                  </td>
                  <td class="a1">
                     <mat-panel-description> 
                        <b>{{e.eventDate|date:'dd/MM/yyyy'}}</b>
                     </mat-panel-description>
                  </td>
                  <td class="a5">
                     <mat-panel-description> 
                        {{e.id}}
                     </mat-panel-description>
                  </td>
                  <td class="a5">
                     <button mat-raised-button (click)="goToRecognition(e)">go to recognition</button>
                  </td>
                  <td class="a5">
                     <mat-panel-description class="hide"> 
                        <img src="assets\guest.png" class="a4" (click)="viewGuest(e)" mat-raised-button color="black" matTooltip="Invite guests">
                        <!-- <mat-icon (click)="viewGuest(e)" >groups</mat-icon> -->
                        <!-- <button (click)="viewGuest(e)" mat-raised-button color="black"> view my guests </button> -->
                     </mat-panel-description>
                  </td>
               
                  <td class="a5">
                     <mat-panel-description class="hide"> 
                        <img src="assets\icon_placement.jpg" class="a3" (click)="doPlacement(e)" mat-raised-button color="black" matTooltip="Placement">
                        <!-- <button (click)="doPlacement(e)" mat-raised-button color="black"> Placement</button> -->
                     </mat-panel-description>
                  </td>
                <td class="a5">
                  <mat-panel-description class="hide"> 
                        
                     <mat-icon (click)="sendEmailToAllGuests(e.id)" mat-raised-button color="black"  matTooltip="send emails to all guests"> email</mat-icon> 
                  </mat-panel-description> 
                </td>
                  <td class="a5">
                     <mat-panel-description class="hide"> 
                        
                        <mat-icon (click)="deleteEvent(e)" mat-raised-button color="black" class="iconNotVisible" matTooltip="Delete"> delete</mat-icon> 
                     </mat-panel-description> 
                  </td>
               </tr>
            </table>
        


         
         
      </mat-expansion-panel-header>
     
      <table *ngIf="e.separatedSeats" class="t1"> 
         <td class="t1" >
            <b>Separated seats</b>
         </td>
         <td class="t1">
            <b>tables in men section: </b>{{e. numTablesMale}} 
            <br>
               <b>chairs per table: </b>{{e. numChairsMale}}
         </td>
        
         <td class="t1">
            <b>tables in women section: </b>{{e. numTablesFemale}}
            <br>
            <b>chairs per table: </b>{{e. numChairsFemale}}

         </td>
         <td class="t1">
            <b>Size of special table in men section: </b>
            <p *ngIf="e.numSpecialTableChairsMale!=0">  {{e.numSpecialTableChairsMale}} chairs  </p> 
            <p *ngIf="e.numSpecialTableChairsMale==0">No special table in men section</p>
         </td>
         <td class="t1">
           
            <b>Size of special table in women section: </b>
            <p *ngIf="e.numSpecialTableChairsFemale!=0">  {{e.numSpecialTableChairsFemale}} chairs  </p> 
            <p *ngIf="e.numSpecialTableChairsFemale==0">No special table in women section</p>
         </td>
      </table>
      <table *ngIf="!e.separatedSeats" class="t1"> 

         <td class="t1">
            <b> tables in this event: </b>{{e. numTablesMale}} 
         
         </td>
         <td class="t1">
            <b>chairs per table: </b>{{e. numChairsMale}}
         </td>
         <td class="t1">
            <b>Size of special table: </b>
            <p class="p1" *ngIf="e.numSpecialTableChairsMale!=0">  {{e.numSpecialTableChairsMale}} chairs  </p> 
            <p class="p1" *ngIf="e.numSpecialTableChairsMale==0">  No special table</p>
 
         </td>
        
      </table>
   </mat-expansion-panel>

</mat-accordion>

         <!-- <mat-panel-title>
            {{e.name}}
         </mat-panel-title>
         <mat-panel-description> 
            {{e.eventDate}}
         </mat-panel-description>
         <mat-panel-description> 
            {{e.id}}
         </mat-panel-description>
         <mat-panel-description class="hide"> 
            <button (click)="doPlacement(e)" mat-raised-button color="black"> Placement</button>
         </mat-panel-description>
         <mat-panel-description class="hide"> 
            <button (click)="viewGuest(e)" mat-raised-button color="black"> view my guests </button>
         </mat-panel-description>
         <mat-panel-description class="hide"> 
            <mat-icon (click)="deleteEvent(e)" mat-raised-button color="black"> delete</mat-icon> 
         </mat-panel-description> -->