<!-- <style>
   .content{
      max-width: 500px;
      margin: :auto;
   }
</style> 
<mat-toolbar>
    <span>Registration</span>
 </mat-toolbar>-->
 <mat-card class="my-card">
    <mat-card-content>
        <form [formGroup]="registerForm" class="my-form" (ngSubmit)="register($event)">
         <h1 mat-dialog-title style="font-weight: bold;">Welcome</h1>
           <br>
         <div>
           <mat-form-field appearance="fill">
                  <mat-label> Name</mat-label>
                  <input  matInput  name="name"  required formControlName="userName"
                  (keyup)="handleKeyUp($event)">
                  <mat-icon matSuffix>person</mat-icon>
                  <!-- <div *ngIf="registerForm.controls['name'].errors?.required && registerForm.controls['name'].touched"
                  class="alert alert-danger">this field is required</div>
                  <div *ngIf="registerForm.controls['name'].errors?.minLength && registerForm.controls['name'].touched"
                  class="alert alert-danger">this field is must be longer then 2 </div> -->
              
               </mat-form-field>
            </div>
            <br>
               <div>
               <mat-form-field  appearance="fill">
                  <mat-label>Email</mat-label>
                  <input  matInput  matInput [type]="hide ? 'email' : 'text'"  name="email"formControlName="email"
                  (keyup)="handleKeyUp($event)" >
                  <mat-icon matSuffix>email</mat-icon>
               </mat-form-field>
            </div>
               <br>
               <div>
                  <mat-form-field appearance="fill">
                    <mat-label>Enter your Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" name="password" formControlName="password"
                    (keyup)="handleKeyUp($event)">
                    <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      <mat-hint>at least 8 characters</mat-hint>
                  </mat-form-field>
                </div>
          
               <!-- <mat-form-field class="full-width">
                  <mat-label>Password</mat-label>
                  <input  matInput  placeholder="Password"  name="password" type="password">
               </mat-form-field> -->
               <br>
               <!-- <section class="example-section">
                <label class="example-margin">Gender:</label>
                <mat-radio-group>
                <mat-radio-group [(ngModel)]="gender">
                   <mat-radio-button class="example-margin" value="after">Male</mat-radio-button>
                  <mat-radio-button class="example-margin" value="before">Female</mat-radio-button>
                  <mat-radio-button class="example-margin" value="before">Other</mat-radio-button>
                </mat-radio-group> -->
              <!-- </section>
           
              <mat-form-field>
                <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> --> 
        </form>
      </mat-card-content>
 
 
    <mat-card-actions class="my-form" > 
      <!-- REGISTER BUTTON -->
      <button  [disabled]="registerForm.invalid" (click)="register()" mat-raised-button style="color:white; background-color:black" >REGISTER
      </button>
    </mat-card-actions>
    <br>
 </mat-card>
