.spacer {
    flex: 1 1 auto;
  }

  .my-card{
    margin: auto;
    width:20% ;
    height: 70%;
    padding-top: 5%;
    opacity: 0.75;
      // max-width: 500px;
      // margin: auto;
      // min-width: 150px;
      
      // width: 100%;
      
    }
    .my-form{
      text-align: center;
      margin: auto;
      padding-top: 5%;
    }
   
  .full-width {
    width: 100%;
  }