.actionBtn {
    // font-size: 4em;
    cursor: pointer;
}
.snapshot{
    text-align: center;
    img{
        max-width: 100px;
        max-height: 800px;
    }
}
ul.links{
    padding-bottom: 20px;
}
table{
    margin-left: auto;
    margin-right: auto;
}


