
<div class="btn-add-guest">
   
    <button (click)="newGuest()" mat-raised-button style="color:white; background-color:black" >
       <mat-icon>add</mat-icon>Add guest
    </button>
    <button (click)="sendEmailToAllGuests(_eventId)" mat-raised-button style="color:white; background-color:black" >
      <mat-icon>email</mat-icon>send email to all guests
   </button>
 </div>

 <mat-accordion *ngFor="let g of _guestList" class="tbl" style="width:70%">
    <mat-expansion-panel hideToggle class="tbl">
       <mat-expansion-panel-header>
          <table>
             <tr>
                <td class="a1">
                  <mat-panel-description> 
                     <u><b>{{g.firstName}} {{g.lastName}}</b></u> 
                    </mat-panel-description>
                </td>
                <td class="a2">
                  <mat-panel-description> 
          
                     <mat-icon *ngIf="g.confirmed" matTooltip="confirmed">done</mat-icon>
                     <mat-icon *ngIf="!g.confirmed" matTooltip="haven't confirmed yet">clear</mat-icon>
                  </mat-panel-description>
                </td >
                <td class="a2">
                  <mat-panel-description> 
                     <mat-icon matTooltip="Send guest an email" (click)="sendEmail(g)" mat-raised-button color="black">send</mat-icon>
                  
                 </mat-panel-description>
                </td>
                <td class="a2">
                  <mat-panel-description> 
                     <mat-icon matTooltip="Delete guest" (click)="deleteGuest(g)" mat-raised-button color="black">delete</mat-icon>
                    
                 </mat-panel-description>
                </td>
             </tr>
          </table>
         </mat-expansion-panel-header>

       
    <table >
       <tr>
        <td class="a3"><b> phone number: </b>{{g.phone}}</td>
        <td class="a3"><b>email adress: </b>{{g.email}}</td>
        <td class="a3"><b>num members: </b>{{g.numFamilyMembersMale}}</td>
        <td *ngFor="let c of _categoryList">
         <p *ngIf="c.id==g.categoryId"><b>gruop: </b>{{c.name}}</p>
        </td>
        <!-- <td class="a3"><b>gruop: </b>{{g.categoryId}}</td> -->
      </tr>
    </table>
      

