.tbl{
    margin: auto;
  
    width: 80%;
    opacity: 0.89;
}
.btn-add-guest{
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 2%;
  }
  .btn-send-email-all{
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 2%;
  }

  table {
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: gray;
    margin: auto;
  }


  .tbl mat-icon{
    visibility:hidden;
  }
  
  .tbl:hover mat-icon{
    visibility:visible;
  }

.a1{
width: 20%;
}
.a2
{
width: 5%;
}
.a3{
  width: 30%;
}
  ::ng-deep .success{
    background: green;
  }