
<!-- <body class="backImage" [ngStyle]="{backgroundImage:'url(../assets/static/homeImage.jpg)'}"> -->

<!-- <body class="backImage" [ngStyle]="{backgroundImage:'url(../assets/static/thumb_mobile.jpg)'}"> -->

<!-- <body class="backImage" [ngStyle]="{backgroundImage:'url(../assets/static/istockphoto-495512277-612x612.jpg)'}"> -->

<!-- <body class="backImage" [ngStyle]="{backgroundImage:'url(../assets/static/shabby-chic-vintage-wedding-decor-ideas-gold-lantern-white-orchid-whitehouse_crockery-1.jpg)'}"> -->

<body class="backImage"  [ngStyle]="{backgroundImage:'url(../assets/static/istockphoto-1154015219-170667a.jpg)'}">
  <main>

<mat-toolbar conglor="primary" class="toolBar" >
  <mat-toolbar-row >

    <span ><a mat-button href="/"  style="color:white">
      <mat-icon matSuffix>home</mat-icon>HOME
      
    </a></span>
    <span class="spacer"></span>
    <!-- <a  mat-button routerLink="/guest-confirm" style="color:white">Confirm participation
      <mat-icon matSuffix>offline_pin</mat-icon>
    </a> --> 
    <a mat-button routerLink="/register" style="color:white">Register                  
      <mat-icon matSuffix>person_add_alt_1</mat-icon>
    </a>

    <a mat-button routerLink="/login" style="color:white">Login
      <mat-icon matSuffix>login</mat-icon>
    </a>

    <a  mat-button href="/" style="color:white">Logout
      <mat-icon matSuffix>logout</mat-icon>
    </a>


  </mat-toolbar-row>

</mat-toolbar>



<!-- <div class="body">

</div> -->
<!-- <img src="src\assets\img\homeImage.jpg" alt="" width="49" height="35"> -->

<!-- <p style="background-image: url('src\assets\img\homeImage.PNG');">
</p> -->



<router-outlet></router-outlet>








<!-- camera -->
<!-- <br>
<br>
<br>
<app-camera (pictureTaken)="handleImage($event)"></app-camera>
<div class="snapshot" *ngIf="webcamImage">
<img [src]="webcamImage.imageAsDataUrl" />
</div> -->






</main>

</body>
<!-- Footer -->
<footer class="page-footer">

  <!-- Footer Links -->
  <div class="container-fluid">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Footer Content</h5>
        <p>Here you can use rows and columns here to organize your footer content.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- Footer Links -->

<!-- Copyright -->
<div class="footer-copyright text-center py-3">© 2020 Copyright:
  <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
</div>
<!-- Copyright -->



</footer>
<!-- Footer -->