
<!-- <body class="backImage" [ngStyle]="{backgroundImage:'url(../assets/static/homeImage.jpg)'}"> -->

<!-- <body class="backImage" [ngStyle]="{backgroundImage:'url(../assets/static/thumb_mobile.jpg)'}"> -->

<!-- <body class="backImage" [ngStyle]="{backgroundImage:'url(../assets/static/istockphoto-495512277-612x612.jpg)'}"> -->

<!-- <body class="backImage" [ngStyle]="{backgroundImage:'url(../assets/static/shabby-chic-vintage-wedding-decor-ideas-gold-lantern-white-orchid-whitehouse_crockery-1.jpg)'}"> -->

<body class="backImage"  [ngStyle]="{backgroundImage:'url(../assets/static/istockphoto-1154015219-170667a.jpg)'}">
  <main>

<mat-toolbar conglor="primary" class="toolBar" >
  <mat-toolbar-row >

    <span ><a mat-button routerLink="/logo-image"  style="color:white">
      <mat-icon matSuffix>home</mat-icon>Home
      
    </a></span>
    <span class="spacer"></span>
    <!-- <a  mat-button routerLink="/guest-confirm" style="color:white">Confirm participation
      <mat-icon matSuffix>offline_pin</mat-icon>
    </a> --> 
    <a mat-button routerLink="/register" style="color:white">Register                  
      <mat-icon matSuffix>person_add_alt_1</mat-icon>
    </a>

    <a mat-button routerLink="/login" style="color:white">Login
      <mat-icon matSuffix>login</mat-icon>
    </a>

    <a  mat-button href="/" style="color:white">Logout
      <mat-icon matSuffix>logout</mat-icon>
    </a>


  </mat-toolbar-row>

</mat-toolbar>



<!-- <div class="body">

</div> -->
<!-- <img src="src\assets\img\homeImage.jpg" alt="" width="49" height="35"> -->

<!-- <p style="background-image: url('src\assets\img\homeImage.PNG');">
</p> -->



<router-outlet></router-outlet>







</main>

</body>
<!-- Footer -->
<footer class="page-footer">

  <!-- Footer Links -->
  <div class="container-fluid">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <img src="assets\favicon.ico"><br> <h2>SAVE THE DATE</h2>
        <!-- <p>Here you can use rows and columns here to organize your footer content.</p> -->

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <table class="footerTbl">
          <tr>
            <td>
              <br><br>
              <h5 class="text-uppercase">View code  < ></h5>

              <!-- <ul class="list-unstyled"> -->
                <!-- <li> -->
                <a href="https://github.com/EfratNechama/SeatOrganizerServer">git hub server c#</a><br>
                <!-- </li> -->
                <!-- <li> -->
                <a href="https://github.com/EfratNechama/SeatOrganizerClient">git hub client angular</a><br>
                <!-- </li>
                <li> -->
                <a href="https://github.com/EfratNechama/SeatOrganizerPython">face recognition</a><br><br><br>
                <!-- </li> -->
              <!-- </ul> -->
            </td>
            
            <td>
              <div class="col-md-3 mb-md-0 mb-3">
<br><br>
                <!-- Links -->
                <h5 class="text-uppercase">How to reach us </h5>
        
                <ul class="list-unstyled">
                  <!-- <li> -->
                   Nechama: nj0583268635@gmail.com <br>
                  <!-- </li>
                  <li> -->
                   Efrat: efrat48347@gmail.com<br><br><br>
                  <!-- </li> -->
                </ul>
        
              </div>
            </td>
          
          </tr>
        </table>


      </div>
      <!-- Grid column -->

      <!-- Grid column -->
   
      <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- Footer Links -->

<!-- Copyright -->
<div class="footer-copyright text-center py-3">© 2022 Copyright:
  <a href="https://github.com/EfratNechama"> EfratNechama</a>
</div>
<!-- Copyright -->



</footer>
<!-- Footer -->