.spacer {
    flex: 1 1 auto;
  }

  .my-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .toolBar{
    background-color: black;
  }
   
  .full-width {
    width: 100%;
  }
  // body
  // {
  //   background-image:("M:\פרויקט גמר\ProjectClient\SeatOrganizerNG2\src\models\picture to project.PNG" );
  // }

.navBardemoBasicUsage md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; }
body{
  color: chartreuse;
  overflow: scroll;
  //overflow: hidden;
 // mask-image: url('src\assets\img\homeImage.jpg');
//   font-family: "Poppins", sans-serif;
//   height: 100vh;
//  //border-image: url('src\assets\img\homeImage.jpg');
//  background-color:rgb(221, 99, 11) ;
//background-image: url('src\assets\img\homeImage.jpg');
//   background-size: cover;
//   position: fixed;
//   width: 100%;

position: relative;        /* for the footer to move with the page size */
min-height: 100%;  
max-height: max-content;        
padding-bottom: 6rem;   
}

::-webkit-scrollbar {
  display: none;
}
 .pic{
   size: 100%;
 }
 
 .backImage
 {
// height: 100%;

background-position: center;
//background-repeat: repeat;
background-size: cover;
background-attachment: fixed;

 }
 .page-footer
 {
   background-color: black;
   text-align: center;
   color: white;
   
 }
 
 
