<mat-toolbar conglor="primary">
  <mat-toolbar-row>

    <span><a href="/">HOME</a></span>
    <span class="spacer"></span>
    <a mat-button routerLink="/register">Register</a>
    <a mat-button routerLink="/login">Login</a>


  </mat-toolbar-row>
</mat-toolbar>
<!-- <div class="body">
  <h1>hi</h1>

  <img src="src\assets\img\homeImage.jpg">
</div> -->
<!-- <img src="src\assets\img\homeImage.jpg" alt="" width="49" height="35"> -->

<!-- <p style="background-image: url('src\assets\img\homeImage.PNG');">
</p> -->




<router-outlet></router-outlet>