<!-- <mat-toolbar>
    <span>Login</span> 
</mat-toolbar> -->
<mat-card class="my-card">
   <mat-card-content >
       <form [formGroup]="loginForm" class="my-form">
         
        <h1 mat-dialog-title style="font-weight: bold;">Welcome</h1>
        <br>
              <div>
              <mat-form-field  appearance="fill">
                 <mat-label>Email</mat-label>
                 <input  matInput   matInput [type]="hide ? 'email' : 'text'"  name="email"formControlName="email" >
                 <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
           </div>
              <br>
              <div>
                 <mat-form-field appearance="fill">
                   <mat-label>Enter your Password</mat-label>
                   <input matInput [type]="hide ? 'password' : 'text'" id="password" formControlName="password">
                   <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                     {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                 </mat-form-field>
               </div>
        
       </form>
     </mat-card-content>


   <mat-card-actions class="my-form">
     <!-- LOGIN BUTTON -->
     <button mat-raised-button [disabled]="loginForm.invalid" (click)="login()" color="primary">LOGIN</button>

   </mat-card-actions>
</mat-card>
