// .my-card{
//   margin: auto;
//   width:25% ;
//   height: 50%;
//   padding-top: 5%;
//   opacity: 0.;
//     // max-width: 500px;
//     // margin: auto;
//     // min-width: 150px;
    
//     // width: 100%;
    
//   }
//   .my-form{
//     text-align: center;
//     margin: auto;
//     padding-top: 5%;
//   }
.spacer {
  flex: 1 1 auto;
}

.my-card{
  margin: auto;
  width:20% ;
  height: 60%;
  padding-top: 5%;
  opacity: 0.75;
    // max-width: 500px;
    // margin: auto;
    // min-width: 150px;
    
    // width: 100%;
    
  }
  .my-form{
    text-align: center;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;
  }
 
.full-width {
  width: 100%;
}
