
<div class="a">

    <mat-card  class="my-card">
   <mat-card-content>
        <form class="my-form">
          
         <h1 style="font-weight: bold;">Welcome to   {{_event.name}}</h1>
       
        
         Thank you for comming!
         <br>
         To find you're table in the hall open face recognition

         <br>
         <div >
           <app-camera (pictureTaken)="handleImage($event)"></app-camera>
           <!-- <div class="snapshot" *ngIf="webcamImage">
        
         </div> -->
     </div>
     <!-- <br> <button (click)="openCamera()" mat-raised-button style="color:white; background-color:black" >click here </button>  -->

        </form>
      </mat-card-content>
 

 </mat-card>
</div>
